@font-face {
	font-family: "OpenSans-CondBold";
	src: url("../fonts/OpenSans-CondBold.ttf");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "OpenSans-CondLight";
	src: url("../fonts/OpenSans-CondLight.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Oswald-Bold";
	src: url("../fonts/Oswald-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "Oswald-Light";
	src: url("../fonts/Oswald-Light.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Oswald-Regular";
	src: url("../fonts/Oswald-Regular.ttf");
	font-weight: normal;
}
